.subcategory-item {
    width: 100%;
    max-width: 500px;
    height: 250px;
    position: relative;
    background-color: #fff;
    img {
        transform: scale(0.8);
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        //background-color: var(--black-1);
        padding: 15px;

        span {
            color: #000;
            text-transform: capitalize;
            font-weight: 600;
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }

    &:hover {
        .hover {
            background-color: var(--black-8);

            span {
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(1.3);
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .subcategory-item{
        height: 300px;
    }
}