footer{
    width: 100%;
    position: relative;
    background-color: var(--bg-color-2);
    padding: 40px 0;
    .row{
        .col-12{
            &:first-child{
                align-items: center;
            }
            &:last-child{
                margin-bottom: 0;
            }
            align-items: flex-start
        }
    }
    .container{
        @include column-center;
    }
    .inner{
        @include column-center;
    }
    .logo{
        max-width: 130px;
        @include row-center;
        margin-bottom: 20px;
        img{
            width: 100%;
            object-fit: contain;
        }
    }
    .sosial-icons{
        @include row-center;
        a{
            width: 35px;
            height: 35px;
            @include row-center;
            border-radius: 50%;
            background-color: var(--color-2);
            color: #fff;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                background-color: var(--color-1);
            }
        }
    }
    .footer-links{
        width: 100%;
        @include column-center;
        .title{
            color: var(--color-1);
            margin-bottom: 15px;
        }
        a{
          color: #000;
          margin-bottom: 10px;
          text-transform: capitalize;
          position: relative;
          text-align: center;
          &::after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: var(--color-1);
            transition: all 0.3s;
          }  
          &:hover{
            &::after{
                width: 100%;
            }
          }
        }
    }
    .footer-bottom{
        width: 100%;
        @include column-center;
        border-top: 1px solid var(--black-3);
        padding-top: 25px;
        flex-wrap: wrap;
        div{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            font-size: 18px;
            font-weight: 500;
        }
        a{
            font-size: 20px;
            font-weight: 600;
            color: var(--color-1);
        }
    }
}
@media only screen and (min-width: 576px){
    footer{
        .footer-bottom{
            flex-direction: row;
            justify-content: space-between;
            div{
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    footer{
        .col-12{
            &:first-child{
                justify-content: flex-start;
            }
        }
        .footer-links{
            align-items: flex-start;
            a{
                text-align: start;
            }
        }
    }
}